.checkBoxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkBoxContainer {
    :is(input) {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        opacity: 0;
        cursor: pointer;
    }

    :is(.checkmark) {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #808080;
    }

    :is(.checkmark):hover :is(input)~.checkmark {
        background-color: lightgreen;
    }

    :is(input):checked~.checkmark {
        background-color: green;
    }

    :is(.checkmark):after {
        content: "";
        position: absolute;
        display: none;
    }

    :is(input):checked~.checkmark:after {
        display: block;
    }

    :is(.checkmark):after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);

    }

}