.lib-man-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightcoral;
    margin: 0.5px;
}

.lib-man-header {

    /* :is(.user-name-action-btn) {
        display: flex;
        justify-content: space-between;
    } */
    :is(button) {
        margin: 10px;
    }
}